.footer {
    text-align: center;
    padding: 20px;
    background: #000000;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  /* Responsive Footer */
  @media (max-width: 600px) {
    .footer {
      font-size: 14px;
    }
  }
  